.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: #0077c0;
  color: rgb(122, 3, 3);
  font-size: 30px;
  align-items: center;
}
.menu {
  list-style: none;
  padding-left: 100;
  display: flex;
  justify-content: center; /* Center the menu items horizontally */
  align-items: center;
  
}
.item{
  padding: 20px;
}
.logo{
  font-size: 50px;
  color: rgb(236, 4, 4)c0c;
font-weight: 400;
}
.flight-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flight {
  width: calc(50% - 10px); /* Two flights per row with some spacing */
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-info {
  align-items: center;
  margin-right: 20px;
  text-align: left;
}

.flight h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.flight p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.airplane-image img {
  width: 100%;
  max-width: 400px; /* Set a maximum width if needed */
  height: auto;
  align-self: flex-end;
  margin-left: auto;
  float: right;
}

.footer {
  background-color: #0077c0;
  color: white;
  padding: 10px 0;
}

/* Add these styles to your CSS file */
.buttons {
  display: flex;
  margin-top: 10px;
}

.yes-button, .no-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.yes-button {
  background-color: blue;
  color: white;
}

.no-button {
  background-color: red;
  color: white;
}